<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->

<phpunit bootstrap="Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="myZend">
            <directory>./AlbumTest</directory>
        </testsuite>
    </testsuites>
</phpunit>
